process {
    withName:construct {
        container = "quay.io/vgteam/vg:latest"
    }
    withName:view_construct {
        container = "quay.io/vgteam/vg:latest"
    }
    withName:graphviz {
        container = "hamroctopus/graphviz:2.38.0"
    }
    withName:index {
        container = "quay.io/vgteam/vg:latest"
    }
    withName:map {
        container = "quay.io/vgteam/vg:latest"
    }
    withName:pack {
        container = "quay.io/vgteam/vg:latest"
    }
    withName:call {
        container = "quay.io/vgteam/vg:latest"
    }
}