process {
    withName:construct {
        container = "quay.io/vgteam/vg:latest"
    }
    withName:view_construct {
        container = "quay.io/vgteam/vg:latest"
    }
    withName:graphviz {
        container = "hamroctopus/graphviz:2.38.0"
    }
    withName:index {
        container = "quay.io/vgteam/vg:latest"
    }
    withName:map {
        container = "quay.io/vgteam/vg:latest"
    }
    withName:view_map {
        container = "quay.io/vgteam/vg:latest"
    }
    withName:graphviz_map {
        container = "hamroctopus/graphviz:2.38.0"
    }
    withName: pgconvert {
        container = "quay.io/vgteam/vg:latest"
    }
    withName:augment {
        container = "quay.io/vgteam/vg:latest"
    }
    withName:pack_aug {
        container = "quay.io/vgteam/vg:latest"
    }
    withName:pack {
        container = "quay.io/vgteam/vg:latest"
    }
    withName:call_aug {
        container = "quay.io/vgteam/vg:latest"
    }
    withName:call {
        container = "quay.io/vgteam/vg:latest"
    }
    withName:bcftools {
        container = "dockerbiotools/bcftools:latest"
    }
}