params {

    help = ""

    // Variant Graph
    //      - construct a graph
    reference = ""
    vcf = ""
    vcf_index = ""

    max_nodes = 32
    graphviz = 'neato'

    //      - use external graph
    graph = ""
    

    // Map sequences to graph

    //      - index graph
    kmer = 16

    //      - map input sequences
    gam = ""
    sequence = ""
    fastq = ""
    fasta = ""
    hts = ""

    //      - extend graph before variant calling
    augment = false

}