params {

    // pipeline inputs
    help = ""

    reference = ""
    vcf = ""
    vcf_index = ""

    // vg shared
    max_nodes = 32

    // graphviz
    graphviz = 'neato'

    // graphv
    graph = "https://cgl.gi.ucsc.edu/data/giraffe/mapping/graphs/for-NA19240/hgsvc/hs38d1/HGSVC_hs38d1.vg"

    // index 
    kmer = 16

    // map inputs
    gam = "test/1mb1kgp/z.sim"
    sequence = ""
    fastq = ""
    fasta = ""



}