params {

    // pipeline inputs
    help = ""

    reference = "test/1mb1kgp/z.fa"
    vcf = "test/1mb1kgp/z.vcf.gz"
    vcf_index = "test/1mb1kgp/z.vcf.gz.tbi"

    // vg shared
    max_nodes = 32

    // graphviz
    graphviz = 'neato'

    // graphv
    graph = ""

    // index 
    kmer = 16

    // map inputs
    gam = "test/1mb1kgp/z.sim"
    sequence = ""
    fastq = ""
    fasta = ""
    hts = ""



}