params {

  // small fasta sequence
  reference = "https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/pipelines/sv-nf/testdata/small/x.fa"
  vcf = "https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/pipelines/sv-nf/testdata/small/x.vcf.gz"
  vcf_index = "https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/pipelines/sv-nf/testdata/small/x.vcf.gz.tbi"

  sequence = "CTACTGACAGCAGAAGTTTGCTGTGAAGATTAAATTAGGTGATGCTTG"

  augment = false
}