params {

  // small fasta sequence
  reference = "https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/pipelines/sv-nf/testdata/1mb1kgp/z.fa"
  vcf = "https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/pipelines/sv-nf/testdata/1mb1kgp/z.vcf.gz"
  vcf_index = "https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/pipelines/sv-nf/testdata/1mb1kgp/z.vcf.gz.tbi"

  //sequence = "CTACTGACAGCAGAAGTTTGCTGTGAAGATTAAATTAGGTGATGCTTG"
  gam = "https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/pipelines/sv-nf/testdata/1mb1kgp/z.sim"

  augment = true
}